{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "where/additional/entx_namespaced_data" }}
	{{- range $f := $.Fields }}
		{{- if $annotation := $f.Annotations.I12R_ENTX }}
			{{- if $annotation.IsNamespacedDataJSONField }}
				{{ $arg := "v" }}
				{{ $func := print $f.StructField "HasKey" }}
				// {{ $func }} checks if {{$f.StructField}} contains given value
				func {{ $func }}({{ $arg}} string) predicate.{{ $.Name }} {
						return predicate.{{ $.Name }}(func(s *sql.Selector) {
								s.Where(sqljson.HasKey(s.C({{ $f.Constant }}), sqljson.DotPath({{ $arg }})))
						})
				}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}
