name: Renovate Auto-Approve

permissions:
  contents: read
  pull-requests: read

on:
  pull_request_review:
    # Only trigger on PR review submissions
    types: [submitted]

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.event.review.state == 'approved'

    steps:
      - name: Approve Pre-Approved Renovate PRs as infratographer-robot
        # Only approve if the previous approval was the mergify[bot] user
        if: github.event.review.user.login == 'mergify[bot]'
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.INFRATOGRAPHER_ROBOT_PR_APPROVAL_TOKEN }}
